<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>

	<!-- bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

	<!-- href of stylesheet relative to path specified in express.static -->
	<!-- Custom stylesheet -->
	<link rel="stylesheet" href="/css/dist/styles.css">
</head>
<body>
	<div class="root">
		{{{body}}}
	</div>
	{{!-- TODO: deal with the hackaround --}}
	<script src="/js/dist/main.js"></script>
</body>
</html>