<div class="container">
	<div class="row login-div">
		<form action="" class="col-xs-12 col-md-6 col-lg-4" id="login-form">
			<div class="form-group">
				<label for="empId">Employee ID</label>
				<input type="text" class="form-control" id="empId" name="empId" placeholder="Employee ID">
			</div>
			<div class="form-group">
				<label for="password">Password</label>
				<input type="password" class="form-control" id="password" name="password" placeholder="Password">
			</div>
			<button class="btn btn-primary" id="submit-login">Login</button>
		</form>
	</div>
	<div class="message">{{message}}</div>
</div>